* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* TOP BAR STYLING */

header {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 30px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

header nav {
}

header nav a {
    margin: auto 30px;
    line-height: 1.6;
    font-size: 16px;
    text-decoration: none;
    color: #4a4a4a;
}

header nav a img {
    height: 16px;
    width: auto;
    padding-left: 10px;
}

header h1 {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    
}

/* GRID STYLING */

.container {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: 100%;
    grid-template-rows: minmax(600px,auto) minmax(700px,auto) 700px 62px;
    grid-template-areas:
    "top"
    "middle"
    "bottom"
    "footer";
}

.cell {
    border: solid black;
}

/*TOP CELL STYLING */

.top {
    grid-area: top;
    background-image: url('./Images/images/banner-landingpage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.top aside {
    text-align: center;
    width: 600px;
    height: 350px;
    background-color: green;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.top aside div {
    margin: 0;
    padding: 0;
}

#instant {
    font-family: 'Rubik';
    font-style: italic;
}

.top h1 {
font-size: 50px;
font-family: 'Rubik';
}

.top h3 {
    font-weight: 400;
}

.top button {
    background-color: grey;
    width: 408px;
    height: 64px;
    border-radius: 4px;
    line-height: 1.4;
    font-size: 20px;
    border: none;
    color: white;
}

/* MIDDLE CELL STYLING */

.middle {
    grid-area: middle;
    display: flex;
    background-color: #f3f3f3;
    justify-content: space-evenly; 
    align-items: center;   
}

.middle article {
    width: 42%;
    height: 540px;
    background: white;
    text-align: center;
    color: #4a4a4a;
}

.middle img {
    height: auto;
    width: 90%;
    padding-top: 32px;
}

.middle h2 {
    font-size: 36px;
    padding: 0 0;
    margin-top: 40px;
    margin-bottom: 10px;

}

.middle p {
    font-family: "Roboto-Light";
    font-size: 16px;
    margin-top: 0px;
    padding: 0% 5%;
}